.category {
  position: relative;
  background-color: @color-bg-dark;

  @media (min-width: @tablet-width) {
    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/zigzag-fill-tablet.svg");
      background-repeat: repeat-x;
      top: 109px;
      bottom: 0;
      width: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      background-image: url("../img/zigzag-fill-desktop.svg");
      top: 100px;
    }
  }
}

// .category__wrapper {}

.category__list {
  list-style: none;
  padding: 0;

  @media (min-width: @mobile-width-only) {
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 119px;
  }
}

.category__item {
  background-color: @color-main;
  padding-left: 30px;

  &:last-child {
    background-color: @color-main-dark;

    &:hover {
      background-color: @color-main-dark-hover;
    }
  }

  &:hover {
    transform: translateY(-5px);
    background-color: @color-category-hover;
  }
}

.category__item:hover .category__img path {
  opacity: 0.7;
}

.category__item:active .category__img path {
  opacity: 0.3;
}

.category__link {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: @color-bg;
  display: grid;
  grid-template-columns: auto 113px;
  align-items: center;
  min-height: 103px;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 5px;
  }
}

.category__text {
  width: min-content;

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.category__img {
  justify-self: center;
  align-self: center;

  @media (min-width: @tablet-width) {
    padding-top: 15px;
  }
}

.category__icon {
  opacity: 0.5;
  fill: #149080;
}
