.category {
  position: relative;
  background-color: @color-bg-dark;

  @media (min-width: @tablet-width) {
    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-repeat: repeat-x;
      background-position-y: 10px;
      top: 92px;
      bottom: -1px;
      width: 100%;
    }
  }
}

// .category__wrapper {}

.category__list {
  list-style: none;
  padding: 0;

  @media (min-width: @mobile-width-only) {
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 119px;
  }
}

.category__item {
  background-color: @color-main;
  padding-left: 36px;

  &:last-child {
    background-color: @color-main-dark;

    &:hover {
      background-color: @color-main-dark-hover;
    }
  }

  &:hover {
    transform: translateY(-5px);
    background-color: @color-category-hover;
  }
}

.category__item:hover .category__img path {
  opacity: 0.7;
}

.category__item:active .category__img path {
  opacity: 0.3;
}

.category__link {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: @color-bg;
  display: flex;
  align-items: center;
  min-height: 103px;
  text-decoration: none;
  justify-content: space-between;
}

.category__text {
  width: min-content;
}

.category__img {
  padding-right: 35px;
}

.category__icon {
  opacity: 0.5;
  fill: #149080;
}
