.contacts {}

.contacts__list {
  display: grid;
  grid-template-rows: 40px auto;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-evenly;
  }
}

.contacts__item {
  display: grid;
  grid-template-columns: auto auto;
}

.contacts__parameter-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @color-text-light;
}

.contacts__parameter-value {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @color-text-light;
}
