.form {
  max-width: 1050px;
  margin: auto;
}

.form__group {
  border: none;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 60px auto;
    column-gap: 120px;
    padding: 50px 30px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 225px;
  }
}

.form__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: @color-main;
  text-transform: uppercase;
  display: inline-block;
  width: max-content;

  @media (min-width: @desktop-width) {
    padding-left: 97px;
  }
}

.form__list {
  list-style: none;
  padding: 0;
  padding-top: 17px;
}

.form__checkbox {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.form__item {
  padding-bottom: 22px;
  position: relative;
}

.form__icon {
  position: absolute;
  bottom: 30px;
  right: 10px;
}

.form__item:hover .form__icon path {
  fill: @color-main;
}

.form__item:active .form__icon path {}

.form__item:hover .custom-field__input {
  box-shadow: inset 0 -2px 0 @color-main;
}

.form__item:active .custom-field__input {
  color: @color-text-light;
  box-shadow: inset 0 -2px 0 @color-main;
}

.form__note {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @color-text-light;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    place-content: end;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 225px;
  }
}

.form__button {
  @media (min-width: @tablet-width) {
    width: 230px;
  }
}

.form__button-container {
  margin-top: 30px;
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    justify-content: start;
    margin-top: -40px;
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 213px;
  }
}
