.main-navigation {
  background-color: @color-bg;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;

  @media (min-width: @tablet-width) {
    position: unset;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: transparent;
    min-width: 672px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1050px;
  }
}

.main-navigation--opened .main-navigation__toggle {
  background-color: transparent;
  border: none;
  display: block;
  position: absolute;
  padding: 40px;
  height: 20px;
  width: 20px;
  right: 0;
  top: 0;
  background-image: url("../img/menu-close.svg");
  background-repeat: no-repeat;
  background-position: 50%;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle {
  background-color: transparent;
  border: none;
  display: block;
  position: absolute;
  padding: 40px;
  height: 20px;
  width: 20px;
  right: 0;
  top: 0;
  background-image: url("../img/menu-open.svg");
  background-repeat: no-repeat;
  background-position: 50%;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

@media (max-width: @tablet-width) {
  .main-navigation--closed .main-navigation__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }

  .main-navigation--nojs .main-navigation__wrapper {
    position: static;
    min-height: 0;
  }

  .main-navigation--nojs .main-navigation__item {
    display: block;
  }
}

.main-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: minmax(88px, auto) minmax(44px, auto);
    grid-template-columns: auto auto auto max-content;
    width: 100%;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 220px 200px 210px 150px 270px;
  }
}

.main-navigation__item {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid @color-ghost;
  }

  @media (min-width: @tablet-width) {
    &::after {
      content: none;
    }
  }
}

.main-navigation__button {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  min-width: 79px;
  cursor: pointer;
  margin-left: -36px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    justify-content: center;
  }

  &:hover path {
    fill: @color-main;
    opacity: 1;
  }

  &:active path {
    fill: @color-main;
  }
}

.main-navigation__link {
  color: @color-text;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  min-height: 88px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding-left: 76px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    gap: 12px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-navigation__logo {
  display: flex;
  justify-content: center;
  height: 80px;

  @media (min-width: @tablet-width) {
    justify-content: start;
  }

  @media (min-width: @desktop-width) {
    justify-content: center;
  }
}

.main-navigation__logo-image {
  width: 86px;
  height: 35px;
  padding: 22px;

  @media (min-width: @tablet-width) {
    width: 113px;
    height: 45px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    height: 72px;
    padding-top: 5px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-navigation__index {
  @media (min-width: @desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

.main-navigation__catalog {
  @media (min-width: @tablet-width) {
    grid-row: -1 / -2;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 / 2;
  }
}

.main-navigation__form {
  @media (min-width: @tablet-width) {
    grid-row: -1 / -2;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -37px;
      top: 0;
      height: 100%;
      border-left: 1px solid @color-lines;
    }
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 / 2;
  }
}

.main-navigation__search {
  @media (min-width: @tablet-width) {
    grid-column: -2 / -3;
    place-self: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -3px;
      top: 0;
      height: 100%;
      border-left: 1px solid @color-lines;
    }
  }

  @media (min-width: @desktop-width) {
    place-self: end;
  }
}

.main-navigation__cart {
  @media (min-width: @tablet-width) {
    grid-column: -1 / -2;
    place-self: end;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -15px;
      top: 0;
      height: 100%;
      border-left: 1px solid @color-lines;
    }
  }
}

.main-navigation__new {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: unset;
  }
}

.main-navigation__mod-link {
  @media (min-width: @desktop-width) {
    font-size: 15px;
    min-height: 60px;
  }
}

.main-navigation__sale {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: unset;
  }
}

.main-navigation__span {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-navigation__delivery {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: @color-text-light;
    grid-column: -1 / -2;
    grid-row: 2 / 3;
    justify-content: end;
    align-items: center;
  }
}

.main-navigation__icon {
  padding: 20px;
  padding-left: 0;
  fill: @color-text;
  opacity: 0.2;

  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }
}
