.subtitle {
  color: @color-text;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }
}

.contacts .subtitle {
  @media (min-width: @tablet-width) {
    background-image: url("../img/flag.svg");
    background-repeat: no-repeat;
    background-position: right 53px top 0;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  @media (min-width: @desktop-width) {
    background-position: left -1px top 0;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 0px;
  }
}
