.title {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  background-color: @color-bg-footer;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 35px;
    padding-bottom: 15px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/zigzag-fill-tablet.svg");
      background-repeat: repeat-x;
      background-position-y: 155px;
      top: 56px;
      bottom: 0;
      width: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    min-height: 255px;
    padding-top: 0;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-repeat: repeat-x;
      background-position-y: 181px;
      top: 56px;
      bottom: 0;
      width: 100%;
    }
  }
}

.title__index {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  min-height: 177px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: @color-bg-dark;
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-position: 50% -10px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-bg@2x.png");
    background-size: @mobile-width-only auto;
  }

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    max-width: @tablet-width;
    min-width: @tablet-width;
    padding-top: 155px;
    padding-bottom: 370px;
    background-position: 50% 0;
    background-image: url("../img/main-bg-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-bg-desktop@2x.png");
      background-size: @tablet-width auto;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 355px;
    padding-top: 157px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-bg-desktop@2x.png");
      background-size: @tablet-width auto;
    }
  }
}

.title-index__wrapper {
  background-color: @color-bg-dark;
}

.title__form {
  padding-top: 5px;
  margin-bottom: 5px;

  @media (min-width: @tablet-width) {
    padding-top: 37px;
  }
}
