.academy {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  margin: 0;
  display: grid;
  grid-template-columns: auto 27px;
  grid-template-rows: auto;
  gap: 27px;
  align-items: center;

  &__container {
    width: min-content;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 23px;
  }
}
