.contacts {
  &__list {
    display: grid;
    grid-template-rows: 40px 40px;
  }

  &__item {
    display: grid;
    grid-template-columns: 76px auto;}

  &__parameter-name {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: @color-text-light;}

  &__parameter-value {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: @color-text-light;}
}
