.contacts {
  &__list {
    display: grid;
    grid-template-rows: 40px auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
  }

  &__item {
    display: grid;
    grid-template-columns: auto auto;
  }

  &__parameter-name {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: @color-text-light;}

  &__parameter-value {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: @color-text-light;}
}
