.custom-field {}

.custom-field__input {
  border: none;
  padding-bottom: 17px;
  padding-top: 17px;
  box-shadow: inset 0px -2px 0px #000000;
  min-width: 260px;
  font-size: 17px;
  line-height: 18px;
}

.custom-field__text {
  color: @color-text;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: block;
}

.custom-field__textarea {
  border: 2px solid @color-text-light;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 142px;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  padding: 17px;
  margin-top: 22px
}
