.title {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  background-color: @color-bg-footer;
  height: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  &__index {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    background-color: transparent;
    height: 177px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
}
