@color-bg: #ffffff;
@color-main: #63d1bb;
@color-main-dark: #56c3b2;
@color-main-dark-hover: #46c1ae;
@color-text: #000000;
@color-text-light: #444444;
@color-ghost: #ececec;
@color-bg-footer: #f1f1f1;
